@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --primary-color: #212121;
}

ul {
    list-style: none;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: white;
}

 nav a:hover {
    color: #7db6b1;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 90% 10%;
    grid-template-areas: "nav main main main main" "nav footer footer footer footer" "nav footer footer footer footer";
}

nav {
    grid-area: nav;
    background-color: var(--primary-color);
    padding: 1rem;
}

nav h1 {
    color: white;
    font-size: 18px;
    margin: 1.5rem 0;
}

nav ul li {
    padding-bottom: 1rem;
}

#logo {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

main {
    grid-area: main;
    /* -------- nested grid ----- */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    gap: 1rem;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.left {
    grid-area: left;
}

.left p {
    margin: 1rem 0;
}

.right {
    grid-area: right;
    text-align: center;
}

.right img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

/* -----------Footer-------------- */
footer {
    grid-area: footer;
    text-align: center;
}

.icons {
    margin: 1rem auto;
}

.made {
    margin-bottom: 1rem;
}


/* -------------- Media Queries ------------------ */

@media only screen and (orientation: Portrait) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 5fr 1fr;
        grid-template-areas: 'main' 'footer';
        /*     overflow:hidden; */
    }

    nav {
        display: none;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-areas: 'left' 'right';
        margin: 6rem auto;
    }

    .left {
        text-align: center;
    }

}